<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <meta charset="utf-8">
    <title>Template</title>
    <meta name="description" content="Template for adding additional modules.">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css"> <!--Path assumes HTML file is inside of a subfolder-->
</head>
<body>
    <div id="page">
        <header>   <!--Text is centered-->
            <h1>Page Header</h1>
        </header>
        <section id="content"> 
            <h2>Subheader</h2> 

            <p>Module content</p>

            <aside>
                <p>Sidebar</p> <!--Content is bolded and displayed in a centered box. Used for brief sidebars-->
            </aside>

            <ol>
                <li>Elements in an ordered list</li>
            </ol>

            <ul>
                <li>Elements in an unordered list</li>
            </ul>

            <figure>
                <!--Path assumes HTML file is inside of a subfolder-->
                <img src="../files/illustrations/image.png" alt="Description of the image" class="center"> <!--Center class causes image to display centered-->
                <figcaption>Image Caption</figcaption>
            </figure> 

        </section>

        <nav aria-label="Links"> <!--aria label helpful on pages with multiple nav sections, i.e a table of contents and navigation arrows at end of page-->
            <a href=Index.html>Navigation section</a>
        </nav>

        <section id="conclusion"> <!--Content is bolded and displayed in a centered green box. Used to communicate end of modules.-->
            <h2>Message at end of module</h2>
        </section>

        <nav aria-label="Adjacent Pages and Home" class="button"> <!--Button class centers content, necessary for properly displaying the icons.-->
            <!--Paths assume HTML file is inside of a subfolder-->
            <a href=Previous.html><img src=../files/icons/arrow_left.gif alt="Arrow pointing to left" width="100" height="100"></a>
            <a href=../Index.html><img src=../files/icons/home.gif alt="Home" width="100" height="100"></a>
            <a href=Next.html><img src=../files/icons/arrow_right.gif alt="Arrow pointing to right" width="100" height="100"></a>
        </nav>
    </div>
</body>
</html>